@model Aplikacja.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/content/style.css" />
    <title>RsvpFrom</title>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>RSVP</h4></div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
               @Html.ValidationSummary()
                <div class="form-group">
                    <label>Imię i Nazwisko:</label>
                    @Html.TextBoxFor(x => x.Email, new { @class = "Form-Control" })
                </div>
                <div class="form-group">
                    <label>Twój telefon:</label>
                    @Html.TextBoxFor(x => x.Phone, new { @class = "from-Control" })
                </div>
                <div> class="form-group"
                     <label>Czy przyjedziesz ma przyjęcie?</label>
            @Html.DropDownListFor(x => x.WillAttend, new[] {new SelectListItem()   
       {
           Text = "Tak, przyjadę.",
           Value = bool.TrueString
       },
         new SelectListItem()
         {
             Text = "Nie,nie przyjdę.",
             Value = bool.FalseString
         }, "Wybierz opcję", new { @class = "form-control" })
            </div>
            <div class="taxt-center">
            <input class="btn btn-success" type="submit" value="Wyślij RSVP" />
            </div>
            }
        </div>
    </div>
</body>
</html>
